<div class="container-fluid px-0" data-ng-controller="HostingTabLocalMarketingCtrl as ctrl">

    <div class="text-center" data-ng-if="ctrl.loading">
        <oui-loader size="l" inline="true"></oui-loader>
    </div>

    <div class="row" data-ng-show="!ctrl.loading">
        <div class="col-md-9">
            <div data-ovh-alert="{{alerts.main}}"></div>

            <h3 data-i18n-static="hosting_tab_LOCAL_MARKETING"></h3>

            <div class="alert alert-info" role="alert"
                 data-i18n-static="hosting_tab_LOCAL_MARKETING_description"
                 data-ng-if="!ctrl.hasAccounts()">
            </div>

            <button class="oui-button oui-button_primary oui-button_large-height"
                    data-ng-if="!ctrl.hasAccounts()">
                <span data-i18n-static="hosting_dashboard_local_marketing_order"></span>
            </button>

            <div class="alert alert-info" role="alert"
                 data-i18n-static="hosting_tab_LOCAL_MARKETING_table_empty"
                 data-ng-if="ctrl.hasAccounts() && !ctrl.hasLocations()">
            </div>
        </div>
    </div>
</div>
